@font-face {
    font-family: 'SF Pro Display';
    src: url('/fonts/SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.containers {
    max-width: 1242px;
    margin: 0 auto;
    padding: 0 16px;
}

body {
    font-family: "SF Pro Display", sans-serif;
}